@font-face {
  font-family:Proxima Nova;
  src: url("../font/Proxima Nova Regular.otf");
}


body {
  background: #fff;
}


.container4 {
/*  position: absolute;
  background-color: red;*/
/*  width:400px;*/
  height:100%;
  text-align:center;
  padding-right: 40px;
  padding-left:40px;
  padding-top:50px;
  padding-bottom:8%;

}

.container5 {
  padding-left:50px;
  padding-right:50px;

}


#logoSign {
  width:18%;
}

#create {
  color: #909192;
  font-family: Proxima Nova;
  font-size: 26px;
  margin-top:15px;
}

#bfacebook {
  width:320px;
  color: #47629b;
  font-family: Proxima Nova;
  font-size: 16px;
  background-color: #fff;
  background-clip:padding-box;
  border:2px solid #47629b;
  /*background-color: #47629b;*/
  outline:none;
  text-align:center;
  padding:13px 35px;
  border-radius:3.5px;
  margin-top:-40px;
}



#bfacebook:hover {
  background-color:#47629b;
  color:#fff;
}

#fbpic {
  width:17px;
  float:left;

}

#text {
  margin-top:5px;
  margin-left:20px;
  float:left;
  font-family: Proxima Nova;
  font-size: 19px;

}


#message {
  display:inline-block;
  color: #909192;
  font-family: Proxima Nova;
  font-size: 20px;
  margin-top:30px;
  z-index:5;
  background-color: #fff;
  position:relative;
}


#fakeline {
  height:1px;
  width:280px;
  outline:none;
  background-color: #fff;
  border-bottom: none;
  border-left: none;
  border-right:none;
  border-top:1.5px solid #516777;
  margin-top:-30px;
  position: absolute;
  margin-top: -10px;
  margin-left: -141px;
  cursor:default;

}

#username1 {
  color: #465365;
  font-family: Proxima Nova;
  font-size: 18px;
  margin-top:-80px;
}

#password1 {
  color: #465365;
  font-family: Proxima Nova;
  font-size: 18px;
  margin-top:-20px;
}

#confirm1 {
  color: #465365;
  font-family: Proxima Nova;
  font-size: 18px;
  margin-top:-10px;
}

#email1 {
  color: #465365;
  font-family: Proxima Nova;
  font-size: 18px;
  margin-top:-20px;
}





form {
/*  background: #fff;
  padding: 4em 4em 2em;
  max-width: 300px;*/
  margin: 100px auto 0;

/*  border-radius: 5px;*/
}


p {
  margin: 0 0 3em 0;
  position: relative;
}

label {
  display: block;
  font-size: 1.6em;
  margin: 0 0 .5em;
  color: #333;
}
input {
/*  display: block;
  box-sizing: border-box;
  width: 100%;
  outline: none*/
}
input[type="text"],
input[type="password"],
input[type="email"] {
/*  background: #f5f5f5;
  border: 1px solid #e5e5e5;
  font-size: 1.6em;
  padding: .8em .5em;
  border-radius: 5px;*/

      outline:none;
  text-align:center;
  background-color: #fff;
  background-clip:padding-box;
  font-size:17px;
  border-radius:3.5px;
  padding:10px 62px;
  margin-top:-8px;
  border:1px solid gray;
  font-family:Proxima Nova;




}
input[type="text"]:focus,
input[type="password"]:focus {
  background: #fff;
  border:1px solid #465365;
}
form span {
  border-radius: 5px;
  display: block;
/*  font-size: 1.3em;*/
  text-align: center;
  position: relative;
/*  background: #2F558E;*/
/*  left: 105%;
  top: 25px;*/
/*  width: 160px;*/
/*  padding: 7px 10px;*/
  color: #465365;
}
form span:after {
/*  right: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(136, 183, 213, 0);
  border-right-color: #2F558E;
  border-width: 8px;
  margin-top: -8px;*/
}
input[type="button"] {
/*  background: #2F558E;
  box-shadow: 0 3px 0 0 #1D3C6A;
  border-radius: 5px;
  border: none;
  color: #fff;*/
  cursor: pointer;
/*  display: block;
  font-size: 2em;
  line-height: 1.6em;
  margin: 2em 0 0;
  outline: none;
  padding: .8em 0;
  text-shadow: 0 1px #68B25B;*/
  margin-top:-10px;
  border: 1px solid #6791d5;
  background-color: #6197df; 
  outline:none;
  border-radius:4px;
  padding:15px 65px;
  font-family: Proxima Nova;
  color:#fff;
  font-size:22px;


}


#hello {
  position:absolute;
  z-index:1000;
  color:red;
  
}