@media screen and (min-width: 400px) {
	#logoSign {
		width:14%;
	}

	#fbpic {
		width:16px;
	}

	#bfacebook {
		font-size: 16px;
		border:2px solid #47629b;
		padding:11px 65px;
	}

	#welcome {
		font-size: 22px;
	}

	#text {
		margin-top:5px;
	}

	.input1 {
		padding:10px 40px;
		font-size:20px;
	}

	#login {
		margin-left:0px;
		padding:13px 123px;
		font-size:22px;
	}	

	.forgot1 {
		font-size: 18px;
	}

	.create1 {
		font-size: 18px;
		margin-left: 40px;
	}

	#fakeline {

		height:1px;
	  width:270px;
	  outline:none;
	  background-color: #fff;
	  border-bottom: none;
	  border-left: none;
	  border-right:none;
	  border-top:1.5px solid #516777;
	  margin-top:40px;
	  position: absolute;
	  margin-left: -196px;
	  cursor:default;
	}

	.title {
		font-size: 18px
	}

	#login {
	margin-top:30px;
	border: 1px solid #6791d5;
	background-color: #6197df; 
	outline:none;
	border-radius:4px;
	padding:15px 120px;
	font-family: Proxima Nova;
	color:#fff;
	font-size:20px;


	margin-left:-5px;
}


	


}


@media screen and (min-width: 660px) {
	#logoSign {
		width:8%;
	}
}