#container {
	text-align: center;
	margin-right:5%;
	margin-left:5%;
	margin-top:10px;
	height:50px;

}

.navbar-toggle {
	position: relative;
	float: left;
	/*margin-right: 15px;*/
	padding: 10px 10px;
	background-color: #fff;
	background-image: none;
	border: 1px solid #e3e5e7;
	border-radius: 5px;
	outline:none;
	background-clip:padding-box;
	clear:both;
}

.navbar-toggle .icon-bar {
	display: block;
	width: 22px;
	height: 2px;
	border-radius: 1.5px;
	background-color: #6197dd;
}

.navbar-toggle .icon-bar+.icon-bar {
	margin-top: 5px;
}

#navbar-toggle2 {
	position: relative;
	float: right;
	/*margin-right: 15px;*/
	padding: 10px 10px;
	background-color: #fff;
	background-image: none;
	border: 1px solid #e3e5e7;
	border-radius: 5px;
	outline:none;
	background-clip:padding-box;
	clear:right;
}


#box {
	height:10px;
}


#navbar-toggle2 #icon-bar-horizontal {
	display:block;
	width:22px;
	height:2px;
	border-radius: 1.5px;
	background-color: #6197dd; 
	margin-top:5px;

}

#navbar-toggle2 #icon-bar-Vertical{
	display:block;
	width:2px;
	height:22px;
	border-radius: 1.5px;
	background-color: #6197dd; 
	z-index:3;
	margin-left:11px;
	margin-top:-11px;

}	


#title {
	color: #414d5f;
	font-family:Proxima Nova;
	font-size: 23px;
	position:relative;
	display:inline-block;
	margin-top:7px;

}

@font-face {
  font-family:Proxima Nova;
  src: url("../font/Proxima Nova Regular.otf");
}

#line {
	border: 1.5px solid #e3e8ef; 
}

.container2 {
	text-align: center;
	margin-top:40px;
	height:180px;
	border-bottom: 1px solid #e3e8ef;
}

.image {
	position:relative;
	float:left;
	width:120px;
	height:160px;
	
}

.content {
	text-align:left;
	float:left;
	margin-left:0px;
}

.header {
	font-weight: bold;
	color: #414e5f;
	font-family:ProximaNova;
	font-size: 22px
}

.pin {
	color: #a3a7ad;
	font-family: Proxima Nova;
	font-size: 18.5px;
	margin-top:-15px;
}

.imageBox {
	width:160px;
	float:left;
	padding-left: 5%;
}


